{% extends 'base.html.twig' %}
{% block title %}Modification athlete: {{ athlete.nom }} {% endblock %}
{% block body %}
    <h1>{{ "athlete.title"|trans({'%athleteLastName%': form.vars.value.nom, '%athleteFirstName%': form.vars.value.prenom}) }}</h1>
	{{ form_start(form) }}
	{{ form_end(form) }}
{% endblock %}