{% extends 'RemiBundle::base.html.twig' %}

{% block title %}Modification athlete: {{ athlete.nom }} {% endblock %}

{% block body %}
    <h1>{{ "athlete.title"|trans({'%athleteLastName%': athlete.nom, '%athleteFirstName%': athlete.prenom }) }}</h1>
	{{ form_start(form) }}
	{{ form_end(form) }}
{% endblock %}